<ion-grid>
  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="5" size-lg="10">
      <ion-searchbar placeholder="Search with location or Stores or zipcode" (ionChange)="onInput($event)"></ion-searchbar>

    </ion-col>
    <!-- <ion-col size-xs="12" size-sm="12" size-md="5" size-lg="5">
      <ion-item class="dropdown">
        <ion-label>Select Ward</ion-label>
        <ion-select value="Ward 1" okText="Ok" cancelText="Cancel">
          <ion-select-option value="Ward 1">Ward 1</ion-select-option>
          <ion-select-option value="Ward 2">Ward 2</ion-select-option>
          <ion-select-option value="Ward 3">Ward 3</ion-select-option>
          <ion-select-option value="Ward 4">Ward 4</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col> -->
    <ion-col size-xs="12" size-sm="12" size-md="2" size-lg="2">
      <ion-button expand="block" class="ww-b" color="success" (click)="emitHandle()">Search</ion-button>



    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col><h5>
      Search result for <b>{{myInput}}</b>
    </h5></ion-col>
  </ion-row>
</ion-grid>