
<ion-content [fullscreen]="true">
  <app-explore-container name="Tab 4 page"  (notify)="onNotify($event)"></app-explore-container>
  <ion-card *ngFor="let list of lists">
    <ion-item routerLink="/tabs/tab4/details">
      <ion-thumbnail slot="end">
        <img [src]="list.img">
      </ion-thumbnail>
      <ion-label>
        <h3>{{list.name}}</h3>
        <p> <ion-icon name="location-outline"></ion-icon> {{list.location}}</p>
        <p>  <ion-icon name="call-outline" slot="end"></ion-icon> {{list.phone}}</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>

    </ion-item>
  </ion-card>
<!-- 
  <ion-grid>
  <ion-segment (ionChange)="segmentChanged($event)" value="1" class="plt-iphone plt-ios plt-phablet plt-mobile ios"
    mode="ios">
    <ion-segment-button value="1">
      <ion-label>Grocery Shops</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Medical Stores</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>General Physicians</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="p22"></div>
  </ion-grid>




  <ion-card *ngFor="let list of lists">
  <ion-list>
    

    <ion-item-divider>
      <ion-label class="f19" color="dark" >
        <b>{{list.name}}</b>
      </ion-label>
    </ion-item-divider>
    <ion-item lines="none">

      <ion-label>
        {{list.contact}}
      </ion-label>
      <ion-icon name="person-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item lines="none">

      <ion-label>
       <a href="tel:1234567891">{{list.phone}}</a> 
      </ion-label>
      <ion-icon name="call-outline" slot="start"></ion-icon>
    </ion-item>
  </ion-list>
  </ion-card>
 -->


</ion-content>