ion-tabs.ds-top{
    top: 56px !important;
}
.ww-toolbar{
    background-color: #222428;
}
.font-b{
    font-weight: bold;
    font-size: 15px;
}
.f14{
    font-size: 14px;
}
.curspan{
    position: absolute;
    top: -17px;
    right: 70px;
    font-size: 13px;
    color: #d2d2d2;
}