<ion-header class="ww-toolbar">
  <ion-toolbar color="dark">
      <!-- <ion-title>{{ pageTitle }}</ion-title> -->
      <ion-title slot="start">Phoenix Application</ion-title>
      <ion-title slot='end' class="f14">
        
        <span class="curspan">Current location</span>
        Chromepet,chennai 

        
        <ion-icon name="chevron-down-outline" ></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs class="ds-top" [ngClass]=" platform.is('desktop') ? 'ds-top' : ''">
 

    <ion-tab-bar  slot="top" >
      <ion-tab-button tab="tab1" layout="icon-start" >
        <ion-icon name="leaf-outline" ></ion-icon>
        <ion-label class="font-b">
          Vegetables
        </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2" layout="icon-start">
        <ion-icon name="basket-outline"></ion-icon>
        <ion-label class="font-b">Fruits</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3" layout="icon-start">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label class="font-b">Grocery</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab4" layout="icon-start">
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-label class="font-b">Medicines</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    <!-- <ion-tab-bar slot="bottom" *ngIf="platform.is('mobile')">
      <ion-tab-button tab="tab1">
        <ion-icon name="leaf-outline" ></ion-icon>
        <ion-label>
          Vegetables
        </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2">
        <ion-icon name="basket-outline"></ion-icon>
        <ion-label>Fruits</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Grocery</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab4">
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-label>Medicines</ion-label>
      </ion-tab-button>
    </ion-tab-bar> -->
  
  
</ion-tabs>