<ion-header [translucent]="true" *ngIf="platform.is('mobile')">
  <ion-toolbar>
    <ion-title>
      dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="5" size-lg="5">
        <ion-searchbar showCancelButton="focus" class="ios" placeholder="Enter the PinCode"></ion-searchbar>

      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="5" size-lg="5">
        <ion-item class="dropdown">
          <ion-label>Select Ward</ion-label>
          <ion-select value="Ward 1" okText="Ok" cancelText="Cancel">
            <ion-select-option value="Ward 1">Ward 1</ion-select-option>
            <ion-select-option value="Ward 2">Ward 2</ion-select-option>
            <ion-select-option value="Ward 3">Ward 3</ion-select-option>
            <ion-select-option value="Ward 4">Ward 4</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="2" size-lg="2">
        <ion-button expand="block" class="ww-b">Search</ion-button>



      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>

      <ion-card-title class="ion-text-center">Ward 1 </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Total Cases : <b>1,883</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="success">
              <ion-label>Recovered : <b>443</b></ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Active Cases : <b>11</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="danger">
              <ion-label>Deaths : <b>11</b></ion-label>
            </ion-chip>
          </ion-col>


        </ion-row>
      </ion-grid>
      <ion-item-divider>
        <ion-label color="danger">
          <b>Healthcare HelpLine </b>
        </ion-label>
      </ion-item-divider>
      <ion-item>

        <ion-label>
          <b>Rajiv Gandhi Hospital</b>
        </ion-label>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>

        <ion-label>
          <b>+91 985-232-2323</b>
        </ion-label>
        <ion-icon name="call-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
 <!-- ==================================================================================== -->
  <ion-card>
    <ion-card-header>

      <ion-card-title class="ion-text-center">Ward 2 </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Total Cases : <b>83</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="success">
              <ion-label>Recovered : <b>43</b></ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Active Cases : <b>11</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="danger">
              <ion-label>Deaths : <b>0</b></ion-label>
            </ion-chip>
          </ion-col>


        </ion-row>
      </ion-grid>
      <ion-item-divider>
        <ion-label color="danger">
          <b>Healthcare HelpLine </b>
        </ion-label>
      </ion-item-divider>
      <ion-item>

        <ion-label>
          <b>Rajaji Hospital</b>
        </ion-label>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>

        <ion-label>
          <b>+91 765-232-4564</b>
        </ion-label>
        <ion-icon name="call-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>