
<ion-content [fullscreen]="true">
  <app-explore-container name="Tab 2 page"  (notify)="onNotify($event)"></app-explore-container>
  <ion-card >
    <ion-item routerLink="/tabs/tab2/details" *ngFor="let list of lists">
      <ion-thumbnail slot="start">
        <img [src]="list.img">
      </ion-thumbnail>
      <ion-label>
        <h3>{{list.name}}</h3>
        <p> <ion-icon name="location-outline"></ion-icon> {{list.location}}</p>
        <!-- <p>  <ion-icon name="call-outline" slot="end"></ion-icon> {{list.phone}}</p> -->
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>

    </ion-item>
  </ion-card>
 
<!-- 
  <ion-card>
    <ion-card-header>

      <ion-card-title class="ion-text-center">Ward 1 </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Total Cases : <b>1,883</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="success">
              <ion-label>Recovered : <b>443</b></ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Active Cases : <b>11</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="danger">
              <ion-label>Deaths : <b>11</b></ion-label>
            </ion-chip>
          </ion-col>


        </ion-row>
      </ion-grid>
      <ion-item-divider>
        <ion-label color="danger">
          <b>Healthcare HelpLine </b>
        </ion-label>
      </ion-item-divider>
      <ion-item>

        <ion-label>
          <b>Rajiv Gandhi Hospital</b>
        </ion-label>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>

        <ion-label>
          <b>+91 985-232-2323</b>
        </ion-label>
        <ion-icon name="call-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>

      <ion-card-title class="ion-text-center">Ward 2 </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Total Cases : <b>83</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="success">
              <ion-label>Recovered : <b>43</b></ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip color="primary">
              <ion-label>Active Cases : <b>11</b></ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="danger">
              <ion-label>Deaths : <b>0</b></ion-label>
            </ion-chip>
          </ion-col>


        </ion-row>
      </ion-grid>
      <ion-item-divider>
        <ion-label color="danger">
          <b>Healthcare HelpLine </b>
        </ion-label>
      </ion-item-divider>
      <ion-item>

        <ion-label>
          <b>Rajaji Hospital</b>
        </ion-label>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>

        <ion-label>
          <b>+91 765-232-4564</b>
        </ion-label>
        <ion-icon name="call-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>